body {
    width:1400px;
    background-color: aquamarine;
    }

header {
    display: flex;
    border: 1px solid;
    height: 50px;
    width:1200px;
    justify-self: center;
}
.logos {
    display: block;
    width:80px;
    height:50px;

    margin-left:10px;
}
.logos img {
    width:100%;
    object-fit: contain;

}
header h1 {
    display: flex;
    align-items: center;
    margin-left: 50px;

}
header navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 150px;
    gap: 50px;

}
header navbar a {
        text-decoration: none;
        margin-top: 20px;

}
.submenu {
    width:1200px;
    height: 250px;
    border: solid 1px;
    margin:0 auto;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;

}
.containerWeb {
    margin-left: 5px;
}
iframe {
    display: flex;
    margin: 0 auto;
    width:1200px;
    height: 750px;
}
